*.pyc
*.npy
*.mp3
*.bag
*.nx
*.json
*.png
*.dot
.idea/
model/perception/aud_classifier/aud_cnn_0/
model/perception/aud_classifier/aud_cnn_1/
model/perception/aud_classifier/aud_cnn_2/
model/perception/aud_classifier/aud_cnn_3/
model/perception/aud_classifier/aud_cnn_4/
model/perception/aud_classifier/aud_cnn_5/
model/perception/aud_classifier/aud_cnn_final/
model/perception/vid_classifier/opt_cnn_0/
model/perception/vid_classifier/opt_cnn_1/
model/perception/vid_classifier/opt_cnn_2/
model/perception/vid_classifier/opt_cnn_3/
model/perception/vid_classifier/opt_cnn_4/
model/perception/vid_classifier/opt_cnn_5/
model/perception/vid_classifier/opt_cnn_final/
model/sg_perception/aud_classifier/aud_cnn_0/
model/sg_perception/aud_classifier/aud_cnn_1/
model/sg_perception/aud_classifier/aud_cnn_2/
model/sg_perception/aud_classifier/aud_cnn_3/
model/sg_perception/aud_classifier/aud_cnn_4/
model/sg_perception/aud_classifier/aud_cnn_5/
model/sg_perception/aud_classifier/aud_cnn_final/
model/sg_perception/opt_classifier/opt_cnn_0/
model/sg_perception/opt_classifier/opt_cnn_1/
model/sg_perception/opt_classifier/opt_cnn_2/
model/sg_perception/opt_classifier/opt_cnn_3/
model/sg_perception/opt_classifier/opt_cnn_4/
model/sg_perception/opt_classifier/opt_cnn_5/
model/sg_perception/opt_classifier/opt_cnn_final/
